html
{ 
    background-color: inherit; 
}

.reveal .vertical-text
{
	transform: rotate(-90deg);
}

.reveal .rule-custom
{
    width:80%;
    border-width: 3px;
}

.reveal .important
{
    color: hsl(0, 80%, 50%);
    font-weight: bold;
}

.reveal .color-objective
{
    color: hsl(230, 80%, 50%);
}

.reveal .color-neutral
{
    color: gray;
}

.reveal .color-negative
{
    color: hsl(0, 80%, 50%);
}

.reveal .color-positive
{
    color: hsl(110, 50%, 40%);
}

.reveal p.color-positive
{
    color: green;
}

.reveal ul.item-plus
{
    list-style-type: none;
}

.reveal ul.item-plus li:before
{
    content: "+";
    margin-right: 4px;
}

.reveal .align-left
{
    text-align: left;
}

.reveal .no-top-margin
{
    margin-top:0cm;
}

.reveal .no-bottom-margin
{
    margin-bottom:0cm;
}

.reveal .footnotesize-font
{
    font-size: 14pt;
}

.reveal .small-font
{
    font-size: 18pt;
}

.reveal .normal-font
{
    font-size: 24pt;
}

.reveal .big-font
{
    font-size: 32pt;
}

.reveal .p-title
{
    margin-top: 0.75cm;
    margin-bottom: -0.50cm;
}

.reveal figcaption
{
    margin-top: 0.0cm;
    margin-bottom: 0.0cm;
    line-height: 0cm;
    text-align: center;
}

.reveal .image-row
{
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.reveal .overlay-container
{
    position: relative;
}

.reveal .overlay-text
{
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}

.reveal .figure-caption-closer
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: normal;
    font-size: x-large;
    font-weight: normal;
    text-transform: none;
    margin-top: -0.65cm;
    margin-bottom: 0cm;
}

.reveal .figure-caption-custom
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: normal;
    font-size: x-large;
    font-weight: normal;
    text-transform: none;
}

.reveal h6
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

.reveal h5
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

.reveal h4
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

.reveal h3
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

.reveal h2
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

.reveal .publication
{
    font-style: oblique;
}

.reveal table.noStyle-spacing
{
    border-collapse: collapse;
}

.reveal table.noStyle-spacing td, tr
{
    font-family: "Times New Roman", Georgia, Serif;
    vertical-align: middle;
    text-align: center;
    border: none;
    padding-bottom: 0.5cm;
}

.reveal .no-top-margin
{
    margin-top: 0px;
    padding-top: 0px;
}

.reveal table.noStyle-left
{
    border-collapse: collapse;
}

.reveal small-font
{
    font-size: 10pt;
}

.reveal table.noStyle-left td
{
    font-family: "Times New Roman", Georgia, Serif;
    vertical-align: middle;
    text-align: left;
    border: none;
}

.reveal table.noStyle-center
{
    border-collapse: collapse;
}

.reveal table.noStyle-center td
{
    font-family: "Times New Roman", Georgia, Serif;
    vertical-align: middle;
    text-align: center;
    border: none;
}

.reveal td.large-cell
{
    width: 60%;
}

.reveal td.small-cell
{
    width: 40%;
}

.reveal td.align-right
{
    vertical-align: middle;
    text-align: right;
}

.reveal td.align-left
{
    vertical-align: middle;
    text-align: left;
}

.reveal td.align-center
{
    vertical-align: middle;
    text-align: center;
}

.reveal table.noStyle
{
    border-collapse: collapse;
}

.reveal table.noStyle td, tr
{
    padding-top: 0.0cm;
    padding-bottom: 0.0cm;
}

.reveal table.noStyle td
{
    font-family: "Times New Roman", Georgia, Serif;
    vertical-align: middle;
    border: none;
}

.reveal ol.upper-roman 
{
    list-style-type: upper-roman;
}

.reveal ol.upper-alpha
{
    list-style-type: upper-alpha;
}

.reveal ol
{
    font-family: "Times New Roman", Georgia, Serif;
    text-align: left;
    list-style-position: inside;
}

.reveal li
{
    margin-top: 0.5cm;
}

.reveal ul.noStyle
{
    font-family: "Times New Roman", Georgia, Serif;
    list-style-type: none;
    text-align: left;
    list-style-position: inside;
}

.reveal ul.algoHeader
{
    margin-top: 0cm;
    margin-bottom: 0cm;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
}

.reveal ul.algoPrimaryBlock
{
    margin-top: 0cm;
    margin-bottom: 0.5cm;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
}

.reveal ul.algoBlock
{
    margin-top: 0cm;
    margin-bottom: 0cm;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
}

.reveal li.algoLine
{
    margin-top: 0cm;
    margin-bottom: 0cm;
    text-align: left;
    list-style-position: inside;
    list-style-type: none;
}

.reveal ul
{
    font-family: "Times New Roman", Georgia, Serif;
}

.reveal p
{
    font-family: "Times New Roman", Georgia, Serif;
}

.reveal p *
{
    font-family: "Times New Roman", Georgia, Serif;
}

.slides .people
{
    margin-top: 1.5cm;
}

.slides .affiliations-img
{
    margin-top: 0.0cm;
}

.image-table tr td
{
    border: 0px solid black;
}

.slides .small-caption
{
    margin-top: -20px;
    font-size: 15pt;
}

.slides .closer-caption
{
    margin-top: -20px;
}

.slides .default-quote
{
    width: 100%;
    border: none;
    box-shadow: none;
}

.slides .default-svg
{
}

.slides .row-top-align
{
    display: table;
    table-layout: fixed;
}

.slides .col-top-align
{
    display: table-cell;
    vertical-align: top;
    text-align: center;
    float: none;
}

.slides .row-bottom-align
{
    display: table;
    table-layout: fixed;
}

.slides .col-bottom-align
{
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    float: none;
}

.slides .row-left-align
{
    display: table;
    table-layout: fixed;
}

.slides .col-left-align
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    float: none;
}

.slides .col-left-align
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
}

.slides .row-center-align
{
    display: table;
    table-layout: fixed;
}

.slides .col-center-align
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
}

.slides .nomargin
{
    margin-top: 0cm;
    margin-bottom: 0cm;
}

.slides .nostyle-img
{
    width: 100%;
    border: none;
    box-shadow: none;
}

.slides .noborder-img
{
    width: 100%;
    border: none;
}

.slides .noborder-video
{
    width: 80%;
    border: 0px solid black;
}

.slides .default-img
{
    width: 80%;
    border: 4px solid black;
    padding: 0px;
    margin-top: 15px;
}

.slides .default-video 
{
    width: 80%;
    border: 4px solid black;
    padding: 0px;
    margin-top: 15px;
}
